.slds-grid .slds-hyphenate {
    width: 100%
}

.slds-grid .slds-truncate {
    width: 100%
}

.picklist-container,
.lookup-container {
    margin-top: -1rem;
    margin-left: -0.5rem;
    position: absolute !important;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown {
    position: fixed !important;
    max-height: 120px;
    max-width: fit-content;
    overflow: auto;
}

.create-animate tr.slds-hint-parent {
    animation: start-animate 1s;
}

@keyframes start-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.delete-animate tr.slds-hint-parent {
    animation: append-animate 1s;
}

@keyframes append-animate {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

tr[data-row-key-value] {
    animation: 3s linear 1s infinite running slidein;
}